.DS_Store
clubhouse/.dart_tool/flutter_build/b0d610de70bd65804ae2132e21c4806c/kernel_snapshot.d
clubhouse/.dart_tool/flutter_build/b0d610de70bd65804ae2132e21c4806c/flutter_assets.d
clubhouse/build/app/intermediates/flutter/debug/flutter_build.d
Shop-App/.dart_tool/flutter_build/2164cd85bb71c4c51eae71f4324e91a6/kernel_snapshot.d
Shop-App/.dart_tool/flutter_build/2164cd85bb71c4c51eae71f4324e91a6/flutter_assets.d